@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

header{
    background: transparent;
    position: absolute;
    width: 100%;
    padding:25px;
}

section.banner{
    background-image: url("../images/fundo1.png");
    background-position: center;
    background-size: cover;
    padding: 150px 0;
}

.row{
    font-size: 23px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
}

.apresentacao-mid{
    text-align: right;
    color:#ffffff;
    margin-top: 300px;
}

.apresentacao-mid h1{
   position: relative;
   margin-bottom:30px;
   padding-bottom:30px;
   font-size: 63px;
   color: #ffffff;
   font-weight: 600;
   font-family: "Raleway";
   text-transform: uppercase;
}

.apresentacao-mid h1:before{
    content:'';
    border-bottom:solid 7px #ffffff;
    position: absolute;
    right:0;
    bottom:0;
    width: 25%;
}

.apresentacao-mid a{
    font-size: 25px;
    color: #100667;
    font-weight: 500;
    font-family: "Raleway";
    text-align: right;
    border-radius: 0px;
    text-transform: lowercase;
    background-color:#ffffffc7;
    padding: 5px 50px;
}

.apresentacaotxt{
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Raleway";
    text-align: right;
}

.about{
    background-color: #000000;
    padding: 50px 200px;
}

.about h2{
    font-size: 29px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    padding: 25px;
}

.abouttxt{
    font-size: 19px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
    text-align: center;
}

.services{
    background-color:#d41ae3;
    padding: 75px;
}

.services .col-md-4{
    padding-left:60px;
}

.services i{
    margin-bottom:15px;
    margin-right: 10px;
}

.services h3{
    font-size: 19px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    margin-bottom: 30px;
}

.servicestxt{
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
}

.company{
    background-color: #000000;
    padding: 65px 0;
}

.company h2{
    font-size: 29px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
}

.companytxt{
    margin-bottom: 95px;
    font-size: 19px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
    text-align: center;
}

.boxcompany{
    background-color:#d41ae3;
    padding:60px;
}

.boxcompany h3{
    font-size: 17px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    text-transform: uppercase;
    margin-bottom: 50px;
}

.companytxt2{
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
    margin-bottom: 30px;
}

.companytxt3{
    font-size: 15px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    text-transform: uppercase;
    margin-bottom: 0;
}

.companytxt4{
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
    text-transform: lowercase;
    margin-bottom: 0;
}

.boxcompany .d-flex{
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.wedo{
    background-color: #000000;
    padding: 50px 200px;
}

.wedo h2{
    font-size: 29px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
}

.wedotxt{
    
    font-size: 19px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
    text-align: center;
}

ul.wedolist{
    padding-left: 0;
    font-size: 17px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    list-style: none;
    justify-content: center;
    display: flex;
}

.wedolist li{
    margin: 0 30px;
}

.wedo .border{
    width: 150px;
    border: 5px solid #ffffff !important;
    background-color: #ffffff;
    margin: 30px auto;
}

.quote{
    background-color: #000000;
    padding: 50px 200px;
}

.quotetxt{
    font-size: 19px;
    line-height: 33px;
    color: #fefefe;
    font-weight: 400;
    font-family: "Raleway";
    text-align: center;
}

.quote h3{
    font-size: 19px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Raleway";
    text-align: center;
}

.quote .border{
    width: 150px;
    border: 5px solid #ffffff !important;
    background-color: #ffffff;
    margin: 30px auto;
}

.numbers{
    background-image: url("../images/fundo5.png");
    background-position: center;
    background-size: cover;
    padding: 150px 0;
}

.numberstxt{
    font-size: 29px;
    color: #fefefe;
    font-weight: 600;
    font-family: "Raleway";
    margin-bottom: 100px;
}

.numberstxt1{
    width: 135px;
    height: 34px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
}

.numberstxt2{
    font-size: 21px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Raleway";
}

.numberstxt3{
    font-size: 21px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Raleway";
    text-transform: uppercase;
}

.projects{
    background-color: #000000;
    padding: 70px;
}

.projectstxt1{
    font-size: 17px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
    margin-top: 80px;
}

.projectstxt2{
    font-size: 21px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
    margin-bottom: 30px;
}

.projectstxt3{
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
    text-align: center;
}

.trips{
    background-color: #d41ae3;
    padding: 70px 0;
}

.trips h3{
    font-size: 17px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
}

.tripstxt{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    margin-bottom: 0;
}

.trips .border-left{
    border-left: solid 5px #ffffff;
    padding-left: 20px;
}

.quote2{
    background-color: #000000;
    padding: 50px 200px;
}

.quote2 h3{
    font-size: 19px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Raleway";
    text-align: center;
}

.quotetxt2{
    font-size: 19px;
    line-height: 33px;
    color: #fefefe;
    font-weight: 400;
    font-family: "Raleway";
    text-align: center;
}

.sociallist{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left:0;
    margin-top: 25px;
}

.sociallist li{
    margin: 0 15px;
}

.sociallist i{
    color:#ffffffc7;
}

.footer{
    background-color: #d41ae3;
    padding: 70px 0;
}

.footerlist{
    list-style: none;
    font-size: 21px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    padding-left: 0;
}

.footer h3{
    font-size: 21px;
    line-height: 33px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footertxt{
    font-size: 19px;
    line-height: 29px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Raleway";
}

@media screen and (max-width: 767px) {
    section.banner{
        padding: 50px 15px;
    }
    section.banner .img-fluid{
        margin-top: 100px;
    }
    section.banner .apresentacao-mid h1{
        text-align: center;
    }  
    .apresentacao-mid h1:before{
        left: 50%;
        transform: translate(-50%, -50%);
        width: revert;
    }
    .apresentação-mid{
        margin-top: 100px;
    }
    .apresentacao-mid a{
        text-align: center;
        margin: 0 auto;
        display: block;
        width: 75%;
    }
    section.banner .apresentacaotxt{
        text-align: center;
    }
    section.banner .apresentação-mid a{
        align-items: center;
    }

    .about{
        padding: 50px 15px;
    }

    .services{
        padding: 50px 15px;
    }
    .services h3{
        text-align: center;
    }
    .services h4{
        text-align: center;
    }
    .servicestxt{
        text-align: center;
    }
    .services .col-md-4{
        padding-left: 0;
    }

    .company{
        padding: 50px 15px;
    }
    .company .boxcompany{
        padding: 25px 50px;
        margin: 10px;
    }
    .company .boxcompany h3{
        text-align: center;
        margin-bottom: 0;
    }
    .company .companytxt{
        margin-bottom:0;
    }
    .company .companytxt2{
        text-align: center;
    }
    .company .companytxt3{
        text-align: center;
    }

    .wedo{
        padding: 50px 15px;
    }

    .quote{
        padding: 50px 15px;
    }

    .numbers{
        padding: 50px 15px;
    }
    .numbers .justify-content-evenly {
        display: grid !important;
        text-align: center;
    }
    .numberstxt{
        margin-bottom: 50px;
    }

    .projects{    
        padding: 0px 15px 60px;
    }
    .projects .order-mobile-2{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .projects img{
        margin: 0 auto;
        display: block;
    }

    .trips{
        padding: 50px 15px;
    }

    .quote2{
        padding: 50px 15px;
    }

    .footer{
        padding: 50px 15px;
    }
    .footer h3{
        margin-bottom: 5px;
        text-align: center;
    }
    .footertxt{
        text-align: center;
    }
   .footerlist{
       text-align: center;
       font-weight: lighter;
   }
   
    ul.wedolist{
        display: grid;
    }

}

